<section class="benefits section-offset">
  <div class="container">
    <h2 class="benefits__title section-title">Що ви отримаєте після курсу</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Свідоцтво</h3>
        <p class="benefits__descr">Яке дає право викладати робототехніку для дітей 6-12 років в освітніх закладах</p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Знання</h3>
        <p class="benefits__descr">З основ розробки навчально-методичних комплексів з робототехніки та програмування</p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          Практику
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="id1">
              <svg class="">
                <use xlink:href="img/sprite.svg#tooltip-icon"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="id1">
              <span class="visually-hidden">Тултіп: </span>
              За наявності вільних місць
            </span>
          </span>
        </h3>
        <p class="benefits__descr">Можливість пройти практику з викладання робототехніки на базі R:ED LAB (в офлайн або онлайн форматі)</p>
      </li>
    </ul>
  </div>
</section>

