<footer class="footer">
  <div class="container-fluid footer__container">
    <div class="footer__left">
      <a href="#" class="logo footer__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="228" height="48" alt="Логотип RoboSchool">
      </a>
      <div class="footer__copy">© ROBO.SCHOOL</div>
    </div>
    <a href="tel:+380444618061" class="phone footer__phone">+380 44 461 8061</a>
    <div class="footer__copy footer__copy--mobile">© ROBO.SCHOOL</div>
  </div>
</footer>

