<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset graph-modal__close" aria-label="Закрити модальне вікно">Закрити</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/popup-1.avif" type="image/avif">
            <source srcset="img/popup-1.webp" type="image/webp">
            <img loading="lazy" src="img/popup-1.jpg" class="image" width="160" height="222" alt="Марина Орлова">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Марина Орлова</div>
          <div class="popup__post">викладач з робототехніки</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Сторінка викладача у Фейсбуці">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--inst" aria-label="Сторінка викладача в Інстаграмі">
                <svg class="">
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Освіта</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Досвід роботи</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Нагороди</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Вересень 1995 — Червень 2000</p>
                  <p class="popup__text">Санкт-Петербурзький політехнічний університет Петра Великого</p>
                  <p class="popup__text">Факультет: Комп'ютерних наук та технологій</p>
                  <p class="popup__text">Спеціальність: Математика та комп'ютерні науки</p>
                  <p class="popup__text">Форма навчання: Очна</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курси та тренінги</h3>
                  <p class="popup__text">Листопад 2020 — Лютий 2021</p>
                  <p class="popup__text">Програма додаткової освіти «3D Моделювання»</p>
                  <p class="popup__text">Місце проведення: Інститут додаткової освіти «Політех»</p>
                  <p class="popup__text">Спеціальність: Математика та комп'ютерні науки</p>
                  <p class="popup__text">Форма навчання: Очна</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <h3 class="popup__subtitle">Курси та тренінги</h3>
                  <p class="popup__text">Листопад 2020 — Лютий 2021</p>
                  <p class="popup__text">Програма додаткової освіти «3D Моделювання»</p>
                  <p class="popup__text">Місце проведення: Інститут додаткової освіти «Політех»</p>
                  <p class="popup__text">Спеціальність: Математика та комп'ютерні науки</p>
                  <p class="popup__text">Форма навчання: Очна</p>
                </div>
                <div class="popup__content">
                  <p class="popup__text">Вересень 1995 — Червень 2000</p>
                  <p class="popup__text">Санкт-Петербурзький політехнічний університет Петра Великого</p>
                  <p class="popup__text">Факультет: Комп'ютерних наук та технологій</p>
                  <p class="popup__text">Спеціальність: Математика та комп'ютерні науки</p>
                  <p class="popup__text">Форма навчання:
